---
import Blog from "@layouts/blog";
import Date from "@components/utilities/Date";
import { published, getRSS, drafted } from "@data/post";
import { getPosts } from "src/utils/get-posts";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
    // rss(getRSS(postsArray));
    const posts = await getPosts();

    return [...published(posts), ...drafted(posts)].map((post) => ({
        params: { post: post.slug },
        props: { post },
    }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const year = new Intl.DateTimeFormat("en-US", {
    year: "numeric",
}).format(globalThis.Date.parse(post.date));
---

<Blog title={post.title}>
    <div class="post-header container">
        <h1 class="post-title">{post.title}</h1>
        <div class="post-date">
            <Date date={post.date} />
        </div>
    </div>
    <div class="content container">
        {
            post.draft ? (
                <p class="aside caution" style="color: var(--text-color-aside);">
                    This post was shared privately and the link must not be shared with any third
                    parties without approval of the Author. Furthermore, this post is a draft "work
                    in progress" and may contain misstatements, errors, inaccuracies, or other
                    unverified information, and should not be construed as representative of the
                    Author's final opinions or conclusions.
                </p>
            ) : null
        }
        <post.Content />
        <p>
            © {year} by {post.author}. Published under a Creative Commons Attribution-NonCommercial
            4.0 International (<a href="https://creativecommons.org/licenses/by-nc/4.0/"
                >CC BY-NC 4.0</a
            >) license.
        </p>
    </div>
</Blog>
